<div class= "container px-5 px-sm-0">
  <div class="row">
<div class="col-md-3">
  </p>
   <%#= attachment_image_tag @user, :profile_image, fallback: "no-image.png" %>
  <%= render "users",user: @user, post: @post %>
</div>
<div class= "col-md-8 offset-md-1">
  <h2>投稿一覧</h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>ユーザー</th>
        <th>投稿画像</th>
        <th>投稿内容</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post|  %>
      <tr>
      <td>
      <%= link_to post_path(@post_id) do %>
      <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg',fallback: "no_image.jpg", size: "180x200" %>
      <% end %>
      </td>
      <td><% post.post_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
      </td>
      <td><%= post.explanation %></td>
      </tr>
      <% end %>
  </tbody>
  </table>
</div>
 </div>
</div>